---
http_interactions:
- request:
    method: get
    uri: https://magentotest.nurelm.com/api/rest/orders
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="invalid_rest_key", oauth_nonce="Z8ZR4cSFNV20Bki12ctwtwNmJpyRHb8fJ2X2IYJhX8",
        oauth_signature="dusaJyf6WYrEtMrtYYjp3luKEkw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1539217563", oauth_token="invalid_oauth_token", oauth_version="1.0"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"messages":{"error":[{"code":401,"message":"oauth_problem=consumer_key_rejected"}]}}'
  recorded_at: Thu, 11 Oct 2018 00:26:09 GMT
recorded_with: VCR 4.0.0
