---
http_interactions:
- request:
    method: get
    uri: https://magentourl.store.com/index.php/api/v2_soap?wsdl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <definitions xmlns:typens="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="Magento" targetNamespace="urn:Magento">
            <types>
                <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
                    <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
                    <complexType name="associativeEntity">
                        <all>
                            <element name="key" type="xsd:string"/>
                            <element name="value" type="xsd:string"/>
                        </all>
                    </complexType>
                    <complexType name="associativeArray">
                        <complexContent>
                            <restriction base="soapenc:Array">
                                <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:associativeEntity[]"/>
                            </restriction>
                        </complexContent>
                    </complexType>
                    <complexType name="associativeMultiEntity">
                        <all>
                            <element name="key" type="xsd:string"/>
                            <element name="value" type="typens:ArrayOfString"/>
                        </all>
                    </complexType>
  [...]
- request:
    method: post
    uri: https://magentourl.store.com/index.php/api/v2_soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:Magento"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><typens:login><username>valid_api_username</username><apiKey>valid_api_key</apiKey></typens:login></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:Action"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
        <SOAP-ENV:Body>
        <ns1:loginResponse>
        <loginReturn xsi:type="xsd:string">dc76d726265d3cd3d440b72b59b6f15f</loginReturn>
        </ns1:loginResponse>
        </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
  recorded_at: Wed, 17 Oct 2018 00:47:34 GMT
- request:
    method: post
    uri: https://magentourl.store.com/index.php/api/v2_soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:Magento"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><typens:salesOrderList><filters><complexFilter><element><key>updated_at</key><value><key>from</key><value>2017-06-17:21:15Z</value></value></element></complexFilter></filters><sessionId>dc76d726265d3cd3d440b72b59b6f15f</sessionId></typens:salesOrderList></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:Action"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:Magento" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
        <SOAP-ENV:Body>
        <ns1:salesOrderListResponse>
        <result SOAP-ENC:arrayType="ns1:salesOrderListEntity[6]" xsi:type="ns1:salesOrderListEntityArray">
        <item xsi:type="ns1:salesOrderListEntity">
        <increment_id xsi:type="xsd:string">100000001</increment_id>
        <store_id xsi:type="xsd:string">1</store_id>
        <created_at xsi:type="xsd:string">2018-02-12 20:56:03</created_at>
        <updated_at xsi:type="xsd:string">2018-02-12 21:30:49</updated_at>
        <customer_id xsi:type="xsd:string">1</customer_id>
        <tax_amount xsi:type="xsd:string">0.0000</tax_amount>
        <shipping_amount xsi:type="xsd:string">10.0000</shipping_amount>
        <discount_amount xsi:type="xsd:string">0.0000</discount_amount>
        <subtotal xsi:type="xsd:string">2000.0000</subtotal>
        <grand_total xsi:type="xsd:string">2010.0000</grand_total>
        <total_qty_ordered xsi:type="xsd:string">2.0000</total_qty_ordered>
        <base_tax_amount xsi:type="xsd:string">0.0000</base_tax_amount>
        <base_shipping_amount xsi:type="xsd:string">10.0000</base_shipping_amount>
        <base_discount_amount xsi:type="xsd:string">0.0000</base_discount_amount>
        <base_subtotal xsi:type="xsd:string">2000.0000</base_subtotal>
        <base_grand_total xsi:type="xsd:string">2010.0000</base_grand_total>
        <billing_address_id xsi:type="xsd:string">1</billing_address_id>
        <billing_firstname xsi:type="xsd:string">Marc</billing_firstname>
        <billing_lastname xsi:type="xsd:string">Salo</billing_lastname>
        <shipping_address_id xsi:type="xsd:string">2</shipping_address_id>
        <shipping_firstname xsi:type="xsd:string">Marc</shipping_firstname>
        <shipping_lastname xsi:type="xsd:string">Salo</shipping_lastname>
        <billing_name xsi:type="xsd:string">Marc Salo</billing_name>
        <shipping_name xsi:type="xsd:string">Marc Salo</shipping_name>
        <store_to_base_rate xsi:type="xsd:string">1.0000</store_to_base_rate>
        <store_to_order_rate xsi:type="xsd:string">1.0000</store_to_order_rate>
        <base_to_global_rate xsi:type="xsd:string">1.0000</base_to_global_rate>
        <base_to_order_rate xsi:type="xsd:string">1.0000</base_to_order_rate>
        <weight xsi:type="xsd:string">200.0000</weight>
        <store_name xsi:type="xsd:string">Main Website
        Main Website Store
        Default Store View</store_name>
        <status xsi:type="xsd:string">processing</status>
        <state xsi:type="xsd:string">processing</state>
        <global_currency_code xsi:type="xsd:string">USD</global_currency_code>
        <base_currency_code xsi:type="xsd:string">USD</base_currency_code>
        <store_currency_code xsi:type="xsd:string">USD</store_currency_code>
        <order_currency_code xsi:type="xsd:string">USD</order_currency_code>
        <shipping_method xsi:type="xsd:string">flatrate_flatrate</shipping_method>
        <shipping_description xsi:type="xsd:string">Flat Rate - Fixed</shipping_description>
        <customer_email xsi:type="xsd:string">marcsalo455@gmail.com</customer_email>
        <customer_firstname xsi:type="xsd:string">Marc</customer_firstname>
        <customer_lastname xsi:type="xsd:string">Salo</customer_lastname>
        <quote_id xsi:type="xsd:string">3</quote_id>
        <is_virtual xsi:type="xsd:string">0</is_virtual>
        <customer_group_id xsi:type="xsd:string">1</customer_group_id>
        <customer_note_notify xsi:type="xsd:string">0</customer_note_notify>
        <customer_is_guest xsi:type="xsd:string">0</customer_is_guest>
        <email_sent xsi:type="xsd:string">1</email_sent>
        <order_id xsi:type="xsd:string">1</order_id>
        <protect_code xsi:type="xsd:string">5227e9</protect_code>
        <base_shipping_tax_amount xsi:type="xsd:string">0.0000</base_shipping_tax_amount>
        <shipping_tax_amount xsi:type="xsd:string">0.0000</shipping_tax_amount>
        <paypal_ipn_customer_notified xsi:type="xsd:string">0</paypal_ipn_customer_notified>
        <base_shipping_discount_amount xsi:type="xsd:string">0.0000</base_shipping_discount_amount>
        <base_subtotal_incl_tax xsi:type="xsd:string">2000.0000</base_subtotal_incl_tax>
        <base_total_due xsi:type="xsd:string">2010.0000</base_total_due>
        <shipping_discount_amount xsi:type="xsd:string">0.0000</shipping_discount_amount>
        <subtotal_incl_tax xsi:type="xsd:string">2000.0000</subtotal_incl_tax>
        <total_due xsi:type="xsd:string">2010.0000</total_due>
        <total_item_count xsi:type="xsd:string">1</total_item_count>
        <hidden_tax_amount xsi:type="xsd:string">0.0000</hidden_tax_amount>
        <base_hidden_tax_amount xsi:type="xsd:string">0.0000</base_hidden_tax_amount>
        <shipping_hidden_tax_amount xsi:type="xsd:string">0.0000</shipping_hidden_tax_amount>
        <base_shipping_hidden_tax_amount xsi:type="xsd:string">0.0000</base_shipping_hidden_tax_amount>
        <shipping_incl_tax xsi:type="xsd:string">10.0000</shipping_incl_tax>
        <base_shipping_incl_tax xsi:type="xsd:string">10.0000</base_shipping_incl_tax>
        <firstname xsi:type="xsd:string">Marc</firstname>
        <lastname xsi:type="xsd:string">Salo</lastname>
        <telephone xsi:type="xsd:string">4123375535</telephone>
        <postcode xsi:type="xsd:string">15206</postcode>
        </item>
        <item xsi:type="ns1:salesOrderListEntity">
        <increment_id xsi:type="xsd:string">100000002</increment_id>
        <store_id xsi:type="xsd:string">1</store_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:36:51</created_at>
        <updated_at xsi:type="xsd:string">2018-02-12 21:37:12</updated_at>
        <customer_id xsi:type="xsd:string">1</customer_id>
        <tax_amount xsi:type="xsd:string">0.0000</tax_amount>
 [...]
- request:
    method: post
    uri: https://magentourl.store.com/index.php/api/v2_soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:Magento"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><typens:salesOrderShipmentList><sessionId>dc76d726265d3cd3d440b72b59b6f15f</sessionId></typens:salesOrderShipmentList></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:Action"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:Magento" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
        <SOAP-ENV:Body>
        <ns1:salesOrderShipmentListResponse>
        <result SOAP-ENC:arrayType="ns1:salesOrderShipmentEntity[5]" xsi:type="ns1:salesOrderShipmentEntityArray">
        <item xsi:type="ns1:salesOrderShipmentEntity">
        <increment_id xsi:type="xsd:string">100000001</increment_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:30:49</created_at>
        <total_qty xsi:type="xsd:string">2.0000</total_qty>
        </item>
        <item xsi:type="ns1:salesOrderShipmentEntity">
        <increment_id xsi:type="xsd:string">100000002</increment_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:37:12</created_at>
        <total_qty xsi:type="xsd:string">1.0000</total_qty>
        </item>
        <item xsi:type="ns1:salesOrderShipmentEntity">
        <increment_id xsi:type="xsd:string">100000003</increment_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:40:47</created_at>
        <total_qty xsi:type="xsd:string">1.0000</total_qty>
        </item>
        <item xsi:type="ns1:salesOrderShipmentEntity">
        <increment_id xsi:type="xsd:string">100000004</increment_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:41:47</created_at>
        <total_qty xsi:type="xsd:string">1.0000</total_qty>
        </item>
        <item xsi:type="ns1:salesOrderShipmentEntity">
        <increment_id xsi:type="xsd:string">100000005</increment_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:43:44</created_at>
        <total_qty xsi:type="xsd:string">1.0000</total_qty>
        </item>
        </result>
        </ns1:salesOrderShipmentListResponse>
        </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
  recorded_at: Wed, 17 Oct 2018 00:47:38 GMT
- request:
    method: post
    uri: https://magentourl.store.com/index.php/api/v2_soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:Magento"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><typens:salesOrderInfo><orderIncrementId>100000001</orderIncrementId><sessionId>dc76d726265d3cd3d440b72b59b6f15f</sessionId></typens:salesOrderInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:Action"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
        <SOAP-ENV:Body>
        <ns1:salesOrderInfoResponse>
        <result xsi:type="ns1:salesOrderEntity">
        <increment_id xsi:type="xsd:string">100000001</increment_id>
        <store_id xsi:type="xsd:string">1</store_id>
        <created_at xsi:type="xsd:string">2018-02-12 20:56:03</created_at>
        <updated_at xsi:type="xsd:string">2018-02-12 21:30:49</updated_at>
        <customer_id xsi:type="xsd:string">1</customer_id>
        <tax_amount xsi:type="xsd:string">0.0000</tax_amount>
        <shipping_amount xsi:type="xsd:string">10.0000</s[...]
- request:
    method: get
    uri: https://magentourl.store.com/api/rest/orders/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="valid_rest_key", oauth_nonce="jSXYltvnr0Y6iWbWuOoD3dzPuLkgsEVwgjow6qG46A",
        oauth_signature="ZhPMWg0SdeHSTUJjFE6mTC9VrqE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1539737259", oauth_token="valid_oauth_token",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"entity_id":"1","status":"processing","coupon_code":null,"shipping_description":"Flat
        Rate - Fixed","customer_id":"1","base_discount_amount":"0.0000","base_grand_total":"2010.0000","base_shipping_amount":"10.0000","base_shipping_tax_amount":"0.0000","base_subtotal":"2000.0000","base_tax_amount":"0.0000","base_total_paid":null,"base_total_refunded":null,"discount_amount":"0.0000","grand_total":"2010.0000","shipping_amount":"10.0000","shipping_tax_amount":"0.0000","store_to_order_rate":"1.0000","subtotal":"2000.0000","tax_amount":"0.0000","total_paid":null,"total_refunded":null,"base_shipping_discount_amount":"0.0000","base_subtotal_incl_tax":"2000.0000","base_total_due":"2010.0000","shipping_discount_amount":"0.0000","subtotal_incl_tax":"2000.0000","total_due":"2010.0000","increment_id":"100000001","base_currency_code":"USD","discount_description":null,"remote_ip":null,"store_currency_code":"USD","store_name":"Main
        Website\nMain Website Store\nDefault Store View","created_at":"2018-02-12
        20:56:03","shipping_incl_tax":"10.0000","payment_method":"checkmo","gift_message_from":null,"gift_message_to":null,"gift_message_body":null,"tax_name":null,"tax_rate":null,"addresses":[{"region":"Pennsylvania","postcode":"15206","lastname":"Salo","street":"6504
        Jackson St.","city":"Pittsburgh","email":null,"telephone":"4123375535","country_id":"US","firstname":"Marc","address_type":"billing","prefix":null,"middlename":null,"suffix":null,"company":null},{"region":"Pennsylvania","postcode":"15206","lastname":"Salo","street":"6504
        Jackson St.","city":"Pittsburgh","email":null,"telephone":"4123375535","country_id":"US","firstname":"Marc","address_type":"shipping","prefix":null,"middlename":null,"suffix":null,"company":null}],"order_items":[{"item_id":"1","parent_item_id":null,"sku":"1","name":"Test
        Product","qty_canceled":"0.0000","qty_invoiced":"0.0000","qty_ordered":"2.0000","qty_refunded":"0.0000","qty_shipped":"2.0000","price":"1000.0000","base_price":"1000.0000","original_price":"1000.0000","base_original_price":"1000.0000","tax_percent":"0.0000","tax_amount":"0.0000","base_tax_amount":"0.0000","discount_amount":"0.0000","base_discount_amount":"0.0000","row_total":"2000.0000","base_row_total":"2000.0000","price_incl_tax":"1000.0000","base_price_incl_tax":"1000.0000","row_total_incl_tax":"2000.0000","base_row_total_incl_tax":"2000.0000"}],"order_comments":[{"is_customer_notified":"0","is_visible_on_front":"0","comment":null,"status":"pending","created_at":"2018-02-12
        20:56:03"},{"is_customer_notified":"0","is_visible_on_front":"0","comment":null,"status":"processing","created_at":"2018-02-12
        21:30:49"}]}'
  recorded_at: Wed, 17 Oct 2018 00:47:40 GMT
- request:
    method: post
    uri: https://magentourl.store.com/index.php/api/v2_soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:Magento"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><typens:customerCustomerInfo><customerId>1</customerId><sessionId>dc76d726265d3cd3d440b72b59b6f15f</sessionId></typens:customerCustomerInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:Action"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
        <SOAP-ENV:Body>
        <ns1:customerCustomerInfoResponse>
        <customerInfo xsi:type="ns1:customerCustomerEntity">
        <customer_id xsi:type="xsd:int">1</customer_id>
        <created_at xsi:type="xsd:string">2018-02-12T20:56:03-05:00</created_at>
        <updated_at xsi:type="xsd:string">2018-06-29 15:09:49</updated_at>
        <store_id xsi:type="xsd:int">1</store_id>
        <website_id xsi:type="xsd:int">1</website_id>
        <created_in xsi:type="xsd:string">Default Store View</created_in>
        <email xsi:type="xsd:string">marcsalo455@gmail.com</email>
        <firstname xsi:type="xsd:string">Marc</firstname>
        <lastname xsi:type="xsd:string">Salo</lastname>
        <group_id xsi:type="xsd:int">1</group_id>
        <password_hash xsi:type="xsd:string">febcfdb283fed1f6a5fb4ce85cb33825:Zd0v3YxE3ZehbsacWFI5BBUQ2aH6oaVh</password_hash>
        </customerInfo>
        </ns1:customerCustomerInfoResponse>
        </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
  recorded_at: Wed, 17 Oct 2018 00:47:42 GMT
- request:
    method: post
    uri: https://magentourl.store.com/index.php/api/v2_soap
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:typens="urn:Magento"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><typens:salesOrderShipmentInfo><shipmentIncrementId>100000001</shipmentIncrementId><sessionId>dc76d726265d3cd3d440b72b59b6f15f</sessionId></typens:salesOrderShipmentInfo></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"urn:Action"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:ns1="urn:Magento" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/">
        <SOAP-ENV:Body>
        <ns1:salesOrderShipmentInfoResponse>
        <result xsi:type="ns1:salesOrderShipmentEntity">
        <increment_id xsi:type="xsd:string">100000001</increment_id>
        <store_id xsi:type="xsd:string">1</store_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:30:49</created_at>
        <updated_at xsi:type="xsd:string">2018-02-12 21:30:49</updated_at>
        <shipping_address_id xsi:type="xsd:string">2</shipping_address_id>
        <order_id xsi:type="xsd:string">1</order_id>
        <total_qty xsi:type="xsd:string">2.0000</total_qty>
        <shipment_id xsi:type="xsd:string">1</shipment_id>
        <items SOAP-ENC:arrayType="ns1:salesOrderShipmentItemEntity[1]" xsi:type="ns1:salesOrderShipmentItemEntityArray">
        <item xsi:type="ns1:salesOrderShipmentItemEntity">
        <parent_id xsi:type="xsd:string">1</parent_id>
        <sku xsi:type="xsd:string">1</sku>
        <name xsi:type="xsd:string">Test Product</name>
        <order_item_id xsi:type="xsd:string">1</order_item_id>
        <product_id xsi:type="xsd:string">1</product_id>
        <weight xsi:type="xsd:string">100.0000</weight>
        <price xsi:type="xsd:string">1000.0000</price>
        <qty xsi:type="xsd:string">2.0000</qty>
        <item_id xsi:type="xsd:string">1</item_id>
        </item>
        </items>
        <tracks SOAP-ENC:arrayType="ns1:salesOrderShipmentTrackEntity[0]" xsi:type="ns1:salesOrderShipmentTrackEntityArray"/>
        <comments SOAP-ENC:arrayType="ns1:salesOrderShipmentCommentEntity[1]" xsi:type="ns1:salesOrderShipmentCommentEntityArray">
        <item xsi:type="ns1:salesOrderShipmentCommentEntity">
        <parent_id xsi:type="xsd:string">1</parent_id>
        <created_at xsi:type="xsd:string">2018-02-12 21:30:49</created_at>
        <is_customer_notified xsi:type="xsd:string">0</is_customer_notified>
        <comment_id xsi:type="xsd:string">1</comment_id>
        </item>
        </comments>
        </result>
        </ns1:salesOrderShipmentInfoResponse>
        </SOAP-ENV:Body>
        </SOAP-ENV:Envelope>
  recorded_at: Wed, 17 Oct 2018 00:47:43 GMT
[...]
